<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
    </head>
    <body>
    <div class="loginbox">
        <h1>Login Here</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>
        <img src="static/img/avatar.png" class="avatar">
    </div>
        <!--
        <form class ="login" method="POST" action="">
            <input type="text" name = "name" placeholder="name">
            <input type="email" placeholder="email">
            <button type="submit">Login</button>
        </form>
        --->
    </body>
</html>